body {
    background-color: white;
}

.Panel-Ingreso {
    display:table;
    width:45%;
    margin: 0 auto;
}

.ImagenIngreso{
    display:block;
    width:225px;
    margin: 5% auto;
}

.Titulo {
    text-align:center;
    color: #27426B;
}

.form-control {
    width:50%;
}

.BotonIngreso {
    text-align:center;
    margin-top:3%;
}

.msjErroneo {
    color: #AD2020;
    margin-left: 12px;
}

.msjErroneo2 {
    color: #AD2020;
    margin-top: 3%;
}