body {
    padding-top:0px;
}

header{
    background-color:blue;
    color:gold;
}

p{
    text-align:center;   
    margin-bottom:1%; 
}

.first{
    display:inline-block;
}

.float-left {
    float: left;
}

.second {
     margin-right:30%;
}

.float-right {
    background-color:white;
    text-align:right;
    padding-right:1%;
    margin-bottom:0.5%;
}

.footer-content {
    margin-top:2%;
}

.label {
color:black;
font-size:18px;
}