body {
    padding-top:0px;
}

header{
    background-color:blue;
    color:gold;
    margin-bottom:15px;
    padding-bottom: 20px;
}

p{
    text-align:center;   
    margin-bottom:1%; 
}

.first{
    display:inline-block;
}

.float-left {
    float: left;
}

.second {
     margin-right:30%;
}

.float-right {
    width: 100%;
    background-color: white;
    text-align: right;
    padding-right: 1%;
    color: black;
}

.footer-content {    
    border-top-width:2px;
    border-top-color:black;
}

.label {
color:black;
font-size:18px;
}

