html, body {
     margin: 0px; 
     padding-top:0px;
}


header{
    background-color:blue;
    color:gold;
    margin-bottom:15px;
    padding-bottom: 20px;
}

p{
    text-align:center;   
    margin-bottom:1.5%; 
    padding-top:0.5%;
}

.float-right {
    width: 100%;
    background-color: white;
    text-align: right;
    padding-right: 1%;
    color: black;
    padding-bottom: 2.5%;
}

.footer-content {    
    border-top-width:2px;
    border-top-color:black;
}

.label {
color:black;
font-size:18px;
}

