body {
    background-color: white;
}

.Panel-Principal {
    display:table;
    width:45%;
    margin: 0 auto;
}
.titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
     margin-top:0.5%;     
}

.form-group {
    text-align:center;    
}
.form-group2 {
     display: inline-block;
     margin-left:5%;
     margin-right:5%;
     margin-top:2%;
     margin-bottom:1%;
}

.LabelMenu {
    text-align:center;
    margin-top:4%; 
    color: #27426B;  
    font-weight: bold;
    font-size: 18px; 
}

.BotonMenu {
    text-align:center;
    margin-top:2%;
    
}