.item-center {
    display: block;
    margin: 0 auto;
}

.style-flecha {
   text-align:center;
    font-size:25px;
}

.BotonAgregar {
    text-align:center;
    margin-right:23%;
    margin-top:1%;
}

.mensajeError{
    color: #AD2020;
    margin-bottom:2%;
}