/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

html, body, #container {
    height: 100%;
}

    body > #container {
        height: auto;
        min-height: 100%;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 290px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.logo {
    float: left;
    position: absolute;
}

.cmbsize {
    max-width: 290px;
}

.msjErroneo {
    color: #AD2020;
    margin-left: 12px;
}

.msjErroneo2 {
    color: #AD2020;
    margin-top: 3%;
}

.perfil {
    color: black;
}

    .perfil:hover {
        text-decoration: underline;
    }

.Encabezado {
    color: #27426B;
    margin-left: 3%;
    margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
    .logo {
        position: relative;
    }
}

.alinearDerecha {
    text-align: right;
}

@media screen and (max-width: 992px) {
    .alinearDerecha {
        text-align: left;
    }
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#content {
    padding-bottom: 3em;
}

.atras {
    font-size: 35px;
    margin-left: 2%;

}

input.selectorDeFecha{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color:rgba(245, 240, 240, 0.00);
    border-radius: 0px;
    background-image:url('../Images/datepicker.png');
    height:18px;
}

.tablaMJP {
    margin: 0 3%;
}

.gridsFormat th {
    text-align: center;
    padding: 10px 0;
    background-color: #9393C5;
    font-size: 15px;

}

.gridsFormat td {
    padding:0 15px;    
    text-align:center;
}

.areaText{
    max-width:278px;
    max-height: 160px;

}

.gridPF  td:nth-child(5){
    width: 14px;
}
.gridPF td:nth-child(6) {
    width: 14px;
}
.gridsFormat2 th {
    text-align: center;
    background-color: #9393C5;
    font-size: 15px;

}

.gridsFormat2 td {
    padding:0 15px;    
    text-align:center;
}

.gridPReq td:nth-child(5){
    width: 14px;
}

.gridPReq td:nth-child(4){
    width: 14px;
}

.gridF td:nth-child(8){
    width: 14px;
}

.gridProductos td:nth-child(4){
    width: 14px;
}

.gridActivos td:nth-child(7) {
    width: 14px;
}

.gridActivos td:nth-child(8) {
    width: 14px;
}

.gridDR td:nth-child(4) {
    width: 14px;
}

.gridDR td:nth-child(5) {
    width: 14px;
}

.gridProductosBusqueda td:nth-child(3){
    width: 14px;
}

.gridDRA td:nth-child(6) {
    width: 14px;
}

.gridDRA td:nth-child(7) {
    width: 14px;
}

.recoverPWD {
    color: #337ab7;
    text-decoration: underline;
}

.gridRU td:nth-child(9){
    width: 14px;
}

.gridRU td:nth-child(10){
    width: 14px;
}

.gridDRAR td:nth-child(3){
    width: 14px;
}
